*{
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
    overflow-y: hidden;
}

body{
    background-color: #9a9a9a;
    height: 100%;
}

header{
    
}

main{
    background-color: #333;
    margin-top: -20px;
    color: white;
    height: 85%;
    width: 100%;
}

#mainBody{
    background-color: #333;
    float: left;
    width: 50%;
}

#mainTop{
    float: left;
    width: 60%;
    background-color: #333;
}

#navTop{
    float:left;
    width: 20%;
    height: 50px;
    background-color: #333;
    display: inline-block;
}

#navBody{
    margin-top: 25px;
    float: left;
    width: 15%;
    height: 20%;
    background-color: #333;
    clear: both;
}

#viewTask{
    overflow-y:auto;
    height: 500px;
}

.submitButton{
    margin-top: 5px;
    text-align: left;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 5px;
    color: white;
    display:block;
    background-color: #333;
    color: #fff;
    font-family: 'font-family: 'Roboto', sans-serif;';
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #fff;
    width: 80%;
    white-space: normal;
}

.submitButtonTop{
    margin-top: 5px;
    text-align: left;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 1px;
    color: white;
    background-color: #333;
    color: #fff;
    font-family: 'font-family: 'Roboto', sans-serif;';
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #fff;
    width: 100%;
    white-space: normal;
    display: inline-block;
    overflow: visible;
}

#navTopNewButton{
    display: inline-block;
    width: 40%;
}

#navTopFilterButton{
    display: inline-block;
    width: 40%;
}

.submitButton:hover{
    background-color: #111;
}

.submitButtonTop:hover{
    background-color: #111;
}

.Login{
    margin: auto;
    width:50%;
    border: 3px solid #9a9a9a;
    padding: 10px;
    height: 50%;
}

#loginForm{
    
}

p{
    font-size: 15pt;
}
a{
    color: black;
    text-decoration: none;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    vertical-align: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 8px;
}

li a {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    display: block;
    padding: 1px;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#github{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    display: inline-block;
    color: white;
    text-decoration: underline;
}

#github:hover{
    display: inline-block;
    color: white;
    text-decoration: underline;
    background-color: #111;
}
/*Shows which link is currently active
Needs to be implemented
/*.active{
    background-color: teal;
}
*/
.logo {
    float: left;
}


