*{
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%;
}
body{
    background-color: #9a9a9a;
    height: 100%;
}

main{
    position: relative;
    margin: 0;
    background-color: #333;
    color: white;
    height: 50%;
    width: 100%;
}

.Login{
    margin: auto;
    width: auto;
    padding: 10px;
    height: 50%;
}

a{
    color: black;
    text-decoration: none;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    font-size: 9pt;
    float: right;
    vertical-align: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 8px;
}

li a {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    display: block;
    padding: 1px 1px;
    color: white;
    border-bottom: 2px solid teal;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: teal;
}

/*Shows which link is currently active
Needs to be implemented
/*.active{
    background-color: teal;
}
*/
.logo {
    float: left;
}

.logo a{
    
}

.Buttons{
    float: right;
    vertical-align: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 8px; 
}

.Buttons a{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    display: block;
    padding: 1px 1px;
    color: white;
}

.Buttons a:hover{
    background-color: teal;
}

fieldset{
    padding: 1em;
}

